// Tipo de letra general
h3{
  text-align: start;
  font-weight: 700;
  font-family: Inter, sans-serif;;
  font-size: 1.5rem;
  line-height: 2rem;
}
p{
  font-family: Inter, sans-serif;;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

// Valores especificaos de letras
.p-logo{
  color: rgb(100 116 139);
}

// Formulario
.form-login{
  label{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  button{
    background-color: var(--bs-secondary);
  }
  button:hover{
    background-color: var(--bs-primary);
  }
  button:active{
    background-color: var(--white);
  }
  .check {
    p {
      margin: 0 2%;
      display: inline-block;
    }
  }
}
.see-button{
  border: solid 1px #dee2e6;
  border-left: none;
  background-color: white!important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-password{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
}
// Separación del Formulario con los Botones del Footer
.sep{
  display: grid;
  grid-template-columns:.75fr 1fr .75fr;

}

// Botones para Logearse
.others-logins{
  margin-top: 5.5%;
  margin-bottom: auto;
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 10%;
}




