//contenedor
#container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
}
.div-img{
  width: 62.5%;
  margin: 8% auto 4%;
  img{
    width: 100%;
    border-radius: 5%;
    border:5px solid var(--bs-info);
    box-shadow: #027a95 2px 8px 8px ;
  }
}
.logo-info-section{
  margin: 0 auto;
  justify-items: center;
  h4{
    color: white;
    font-family: Inter, sans-serif;;
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
.icon-logo{
  height: 35px;
  width: 35px;
  background-color: var(--bs-secondary);
  justify-items: center;
  padding-top:25% ;
}
.title{
  justify-items: center;
  align-items: start;
  width: 40%;
  display: grid;
  grid-template-columns:0.5fr auto;
  gap: 7.5%;
  margin-bottom: 5%;
}
.div-form{
  padding:10% 25%;
}
h3{
  text-align: start;
  font-weight: 700;
  font-family: Inter, sans-serif;;
  font-size: 1.5rem;
  line-height: 2rem;
}
p{
  font-family: Inter, sans-serif;;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
.p-logo{
  color: rgb(100 116 139);
}
.form-login{
  label{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  button{
    background-color: var(--bs-secondary);
  }
  button:hover{
    background-color: var(--bs-primary);
  }
  button:active{
    background-color: var(--white);
  }
  .check {
    p {
      margin: 0 2%;
      display: inline-block;
    }
  }
}
.sep{
  display: grid;
  grid-template-columns:.75fr 1fr .75fr;

}
