#container{
  display: grid;
  grid-template-columns:0.985fr auto ;
  gap: 5%;
}
.perfil-zone{
  display: grid;
  grid-template-columns:auto auto ;
  gap: 5%;
  .div-img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }
  img{
    height: 40px;
    width: 100%;
    border-radius: 80%;
  }
  div{
    p.nie{
      font-size: .75rem;
    }
    p.nombre{
      font-size: .85rem;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }
  }
}


