<!--Contenedor para el fondo negro-->
<div id="container">
  <!--Formulario para login-->
  <form class="w-25 info px-4 bg-white rounded-3 shadow-sm ">
    <!--botón para cerrar login-->
    <div class="button-div">
      <button (click)="closeLoginForm.emit()" type="button" class="btn btn-secondary close-btn">
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
    <!--Titulo-->
    <div class="mb-3">
      <h2 class="h4 mb-0 pb-3 border-bottom text-center">Iniciar sesión</h2>
    </div>
    <!--Inputs-->
    <div class="mb-3 form-floating">
      <input formControlName="email" type="text" id="inputEmail" class="form-control"
             placeholder="...@example.com">
      <label class="form-label" for="inputEmail">Correo electrónico</label>
    </div>

    <div class="mb-3 form-floating">
      <input formControlName="password" type="password" id="passwordLogin" class="form-control"
             placeholder="******">
      <label class="form-label" for="passwordLogin">Contraseña</label>
    </div>
    <!--Botón para Login-->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary d-block text-white py-2 w-100">Entrar
      </button>
    </div>

  </form>
</div>
