<!--Contenedor para el fondo negro-->
<div id="container">
  <!--Formulario para login-->
  <form [formGroup]="formLogin()" (ngSubmit)="iniciarSesion()" class="w-25 info px-4 bg-white rounded-3 shadow-sm ">
    <!--botón para cerrar login-->
    <div class="button-div">
      <button (click)="closeLoginForm.emit()" type="button" class="btn btn-secondary close-btn">
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
    <!--Titulo-->
    <div class="mb-3">
      <h2 class="h4 mb-0 pb-3 border-bottom text-center">Iniciar sesión</h2>
    </div>
    <!--Inputs-->
    <div class="mb-3 form-floating">
      <input formControlName="email" type="text" id="inputEmail" class="form-control"
             placeholder="...@example.com">
      <label class="form-label" for="inputEmail">Correo electrónico</label>
    </div>

    <div class="password-div mb-3 input-group form-floating">
      <input formControlName="password" [type]="isPasswordVisible() ? 'text' : 'password'" id="inputPassword" class="form-control"
             placeholder="Contraseña">
      <label class="form-label" for="inputPassword">Contraseña</label>
      <div class="">
        <a (click)="seePassword()" class="p-2 h-100" type="button">
          @if (!isPasswordVisible()) {
           <i class="bi bi-eye-fill"></i>
          } @else if(isPasswordVisible()){
            <i class="bi bi-eye-slash"></i>
          } @else {
            <i class="bi bi-eye-fill"></i>
          }
        </a>
      </div>
    </div>
    <!--Botón para Login-->
    <div class="mb-3">
      <button type="submit" [disabled]="formLogin().invalid" class="btn btn-primary d-block text-white py-2 w-100">Entrar
      </button>
    </div>

  </form>
</div>
