<div id="container" class="">
  <div class="logo-div h-100 w-100 bg-secondary">
    <div class="div-img ">
      <img src="login-img.png">
    </div>
    <section class="logo-info-section">
      <h4 class="b font-bold">Your Health, Our Priority</h4>
      <p class="text-white">Connect with top specialists and manage your appointments seamlessly.</p>
    </section>
  </div>
  <div class="div-form w-100 h-100">
    <!--logo + Titulo-->
    <div class="title align-items-center">
      <!--  Icono  -->
      <div class="icon-logo rounded-circle">
        <div>
        <span class="text-white">
          <i class="bi bi-heart-pulse-fill"></i>
        </span>
        </div>
      </div>
      <!--  Titulo  -->
      <div>
        <h3 class="m-0">
          MediPulse
        </h3>
      </div>
    </div>

    <router-outlet></router-outlet>
    <!--Footer, links y Términos de Uso-->
    <footer>
      <div class="footer-links">
        <a href="">
          POLÍTICA DE PRIVACIDAD
        </a>
        <a href="">
          TÉRMINOS DE USO
        </a>
        <a href="">
          INFORMACIÓN DE LA EMPRESA
        </a>
      </div>
    </footer>
  </div>
</div>
