// Tipo de letra general
h3{
  text-align: start;
  font-weight: 700;
  font-family: Inter, sans-serif;;
  font-size: 1.5rem;
  line-height: 2rem;
}
p{
  font-family: Inter, sans-serif;;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
// date - age div
.edad-date{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
