// Tipo de letra general
h3{
  text-align: start;
  font-weight: 700;
  font-family: Inter, sans-serif;;
  font-size: 1.5rem;
  line-height: 2rem;
}
p{
  font-family: Inter, sans-serif;;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
// date - age div
.edad-date{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
//Password input
.see-button{
  border: solid 1px #dee2e6;
  border-left: none;
  background-color: white!important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-password{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
}
// STEPS para el registro del Doc
.oculto{
  display:none;
}

