//<!-- Contenedor -->
#container{
  margin-top:2.5% ;
  justify-items: center;
  div{
    justify-items: center;

  }
}
//Tabla de Datos
table{
  margin-top: 0.5%;
  width: 75%;
  column-rule-width: 100px;
  column-width: 50px;
  border-collapse: separate;

  //Cabeza de la Tabla
  thead{
    background-color: lightgray;
    th{
      text-align: center;
      border-radius: 5px;
    }
  }
  //Cuerpo de la Tabla
  tbody{
     background-color: #90CAF9;
     }
  tr{
    td{
      border-radius: 5px;
    }
  }
}
