//<!-- Contenedor -->
#container{
  margin-top:2.5% ;
  justify-items: center;
  div{
    justify-items: center;

  }
}
table{
  margin-top: 0.5%;
  width: 75%;
  column-rule-width: 100px;
  column-width: 50px;
  border-collapse: separate;
  thead{
    background-color: lightgray;
    th{
      text-align: center;
    }
  }tbody{
     background-color: #90CAF9;
     }
}
