* {
  //border:1px solid red;
}

header{
  z-index: 1;
  background:var(--color-terseary);
  max-height: 200px;
  a{

  }
}


///<<<<<<< 1.Logo div >>>>>>>>

#logo {
  color: #1e1e1e;
}

///<<<<<< 2.botones de del head >>>>>>>>

///<<<<<< 2.1 botones >>>>>>>>
#head-btn {
  width: 35%;
  display: grid;
  gap: 10px;
  background-color: #52c7fb;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 0 1.25% 0 auto;
  padding: 5px;
  border-radius: 5px;
}

#head-btn > button {
  border-radius: 5px;
}

#head-btn > button:hover {
  border: 1px solid black;
}
.opcion-head>button{
  border:none;
  transition: 0.4s;
  border-radius: 5px;
}

.opcion-head>button:hover{
  transition: 0.4s;
  background-color: var(--bs-primary);
  color: white;
}


