<div id="panel">
  <div class="logo-div">
    <div class="title align-items-center">
      <!--  Icono  -->
      <div class="icon-logo rounded-circle">
        <div>
        <span class="text-white">
          <i class="bi bi-heart-pulse-fill text-secondary"></i>
        </span>
        </div>
      </div>
      <!--  Titulo  -->
      <div>
        <h3 class="m-0 text-white">
          MediPulse
        </h3>
      </div>
    </div>
  </div>
  <section class="buttons-section">
    <button type="button"><i class="bi bi-person me-1"></i> Perfil</button>
    <button type="button" routerLink="/main/citas"><i class="bi bi-calendar-heart me-1"></i> Citas</button>
    <button type="button" routerLink="/main/records"><i class="bi bi-clock me-1"></i> Historial</button>
    <button type="button"><i class="bi bi-file-earmark-person me-1"></i> Medicos</button>
    <button type="button"><i class="bi bi-hospital me-2"></i>Mapa</button>
  </section>
  <div>
    <button>Settings</button>
    <button>Logout</button>
  </div>
</div>
