#container{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #B6D9F5;
}
#add-button{
  z-index: 1;
  position: fixed;
  width: 4.75%;
  height: 9%;
  top: 87.75%;
  left: 93.5%;
  right: 0;
  bottom: 0;
  button{
    font-size: xx-large;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--bs-secondary);
    border: none;
  }
  button:active{
    background-color: var(--bs-primary);
  }
}
#date-Input{

}
#citas-container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 9%;
  padding: 5% 9%;
}
.cita{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 120px;
}
.info-cita{
  max-height:100%;
  background-color: white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 10% 15%;
}
.fecha-cita{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10% 15%;
}

